# Ignore everything by default
*

# zsh includes
!.zshrc
!.zsh
!.zsh/*
!.oh-my-zsh

# zsh ignores
.zsh/local
.zsh/pre-local
.zsh/data
.zsh/data/*

# bash includes
!.bashrc

# bash ignores


# Python
## ipython includes
!.ipython
!.ipython/ipythonrc
## pylint
!.config/pylintrc


# vim includes
!.vimrc
!.vim
!.vim/*
!.vim/*/*

# vim ignore
.vim/.netrwhist

# git includes
!.gitconfig
!.gitignore

# calendar 
!calendar/*

# background
!pictures
!pictures/abstract-multicolor.jpg

# local scripts
!bin

# config
!.config

# nvim
!.config/nvim
!.config/nvim/*

# sakura config
!.config/sakura
!.config/sakura/*

# sway config
!.config/sway
!.config/sway/*

# i3blocks config
!.config/i3blocks
!.config/i3blocks/*

# xmonad
!.xmonad
!.xmonad/xmonad.hs
!.xmobarrc

# zathura config
!.config/zathura
!.config/zathura/*

# ulauncher config
!.config/ulauncher
!.config/ulauncher/*

# lxqt config
!.config/lxqt
!.config/lxqt/*

# dunst config
!.config/dunst
!.config/dunst/*

# cli-visualizer config
!.config/vis
!.config/vis/*
!.config/vis/*/*
.config/vis/vis.log

# X resources
!.Xresources

# README
!README.md
