[submodule ".vim/plugged/vimtex"]
	path = .vim/plugged/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/plugged/ale"]
	path = .vim/plugged/ale
	url = https://github.com/w0rp/ale
[submodule ".LS_COLORS"]
	path = .LS_COLORS
	url = git@github.com:trapd00r/LS_COLORS.git
