# Ignore everything by default
*

# zsh includes
!.zshrc
!.zsh
!.zsh/*
!.oh-my-zsh

# zsh ignores
.zsh/local
.zsh/pre-local
.zsh/data
.zsh/data/*

# bash includes
!.bashrc

# bash ignores


# ipython includes
!.ipython
!.ipython/ipythonrc

# ipython ignores


# vim includes
!.vimrc
!.vim
!.vim/*
!.vim/*/*

# vim ignore
.vim/.netrwhist

# git includes
!.gitconfig
!.gitignore

# git ignores

# 
!calendar/*

# local scripts
!bin

# config
!.config

# nvim
!.config/nvim
!.config/nvim/*

# sakura config
!.config/sakura
!.config/sakura/*

# sway config
!.config/sway
!.config/sway/*

# i3blocks config
!.config/i3blocks
!.config/i3blocks/*

# zathura config
!.config/zathura
!.config/zathura/*

# ulauncher config
!.config/ulauncher
!.config/ulauncher/*

# lxqt config
~.config/lxqt
!.config/lxqt/*

# X resources
!.Xresources
